.gallery-case {
    background: #FF6060;
    border-radius: 10px;
    font-Family: Arial;
    padding: 5px;
    margin: 10px;
    width: 340px;
    height: 340px;
    border-Radius: 20px;
    position: relative;
    overflow: hidden;
}

.background {
    background: #F6F6F6;
    width: 1240px;
    margin: 307px 0 30px 325px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-Radius: 20px;
}
.case-title,
.case-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  z-index: 2;
  position: relative;
}

.case-title, h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 20px;
  position: absolute;
}
.case-description, p {
  visibility: hidden;
}
.case-pictures {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
img {
    width: 340px;
    height: 340px;
    border-radius: 20px;
    object-fit: cover;
}
.case-host {
    visibility: hidden;
}

