header {
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
}
ul {
    display: flex;
    gap: 30px;
}
.logo1 {
    width: 40%;
    height: auto;
    border-radius: 0;
    margin: 30px 0 0 0;
}
nav {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 17.11px;
    gap: 10px;
    text-align: center;
    color: #FF6060;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 30px 10px 0 0;
}
nav a:hover {
    color: #FF6060;
    text-decoration: none;
}
nav a:visited {
    color: #FF6060;
    text-decoration: none;
}
img {
    width: 145px;
    height: 47px;
}
@media screen and (min-width: 768px) {

header {
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 150px 0 150px;
}
nav {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 17.11px;
    gap: 10px;
    text-align: center;
    color: #FF6060;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 30px 10px 0 0;
}
.logo1 {
    width: 210px;
    height: 68px;
    border-radius: 0;
    margin: 30px 0 0 0;
}
}
