Header {
    width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.Navigation li {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 34.22px;
    text-align: left;
    color: #FF6060;
    list-style-type: none;
}
ul {
    display: flex;
    gap: 30px;
}
.logo {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    filter : brightness(70%);
    mix-blend-mode: darken;
    background: #000000;
    margin: 20px 0 0 0;
}
.logo1 {
    width: 210.32px;
    height: 68px;
    border-radius: 0;
}