.titleProduit {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Montserrat";
    color: #FF6060;
    text-align: left;
}
  
.description {
    font-size: 16px;
    color: #FF6060;
    margin-bottom: 20px;
}
  
.host {
    display: flex;
    width: 40%;
    align-items: center;
    margin-bottom: 20px;
}
  
.host, h4 {
    color: #FF6060;
}
  
.host img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
  
.rating {
    font-size: 18px;
    font-weight: bold;
    color: #FF6060;
    margin-bottom: 20px;
    position: relative;
    bottom: 70px;
}
  
.location {
    font-size: 14px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 20px;
    font-family: "Montserrat";
    margin: -10px 0 0 0;
}
  
.equipments {
    list-style-type: none;
    margin-bottom: 20px;
    color: #FF6060;
    display: flex;
    flex-wrap: wrap;
}
  
.tags {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #FF6060;
    width: 100%;
    gap: 2px;
    height: 18px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14.26px;
    font-family: "Montserrat";
    margin: 10px 0 0 -30px;
}
  
.tags li {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #FF6060;
    color: #ffffff;
}
.picture + img {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 40px;
    left: 230px;
}
h4 {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 17.11px;
    text-align: right;
    margin: 10px 20px 0 0px;
    width: 10%;
}
.starImage {
    width: 13.41px;
    height: 13px;
}
.text-red {
    color: #FF6060;
}
.text-grey {
    color: #E3E3E3;
}
.ratingcontainer {
    margin: 0 60px 0 0;
}
.owner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px){
.allDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.owner {
    display: flex;
    flex-direction: column;
}
.picture + img {
    width: 64px;
    height: 64px;
}
.host h4 {
    color: #FF6060;
}
      
.host img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
      

h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 25.67px;
    text-align: right;
    width: 10%;
}
.starImage {
    width: 24.75px;
    height: 24px;
}
.tags {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #FF6060;
    width: 100%;
    gap: 2px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.26px;
    font-family: "Montserrat";
    margin: 10px 0 0 -30px;
}
.location {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 20px;
    font-family: "Montserrat";
    margin: -10px 0 0 0;
}
.titleProduit {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Montserrat";
    color: #FF6060;
    text-align: left;
}     
}